/* INTENTIONALLY UGLY STARTER STYLES */
/* These styles are very, very ugly. */
/* Time to make them attractive, legible, and usable */






/*FRUTIGER AERO COLOR PALETTE (from https://www.color-hex.com/color-palette/1058713)
    Blues:
        #4577ea
        #38abe4
        #69cfff
        #85cfee
        #7f9dda

    Greens:
        #394e1b
        #6b8f25	
        #9fe11d	
        #ccff7c	
        #f1ffcd

*/

body {
    font-family: Roboto, sans-serif;    /* changed the font to Roboto (closest to Frutiger that is available on Google Fonts) */
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg"); /*SOURCE: https://ca.pinterest.com/pin/17521886046719227/ */
    background-size: cover;
}

.recipe-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
    grid-template-rows: 1fr auto;
    gap: 20px;
    border-radius: 10px;
    min-height: 100vh;
}


/*right column contains
    header
    tip message (bubble)
    ingredients
    instructions
    */
.right-column {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    gap: 10px;
    min-width: 0; /* prevents the right column from growing too wide and pushing the left column off the screen */
    grid-column: 2; /* tells grid that the right column goes in the second column (when going from left to right) */
    grid-row: 1; /* tells grid that the right column goes in the first row (when going from top to bottom) */
}


/*left column contains
    cookie image
    meta
    recipe description
    */
.left-column {
    grid-column: 1;
    grid-row: 1;
    min-width: 0; 
    display: flex;
    align-self: stretch;
}

.recipe-header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6); /*used alpha to make the background color more transparent */
    color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0 2px 4px whitesmoke;
    text-shadow: 1px -2px 3px rgba(255, 255, 255, 0.6);
}

.recipe-title {
    color: #000000;
    font-size: 40px;
}

.tip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/bubble-image.png"); /*SOURCE: https://ca.pinterest.com/pin/126804545754132223/ */
    background-position: center;
    background-size: contain;
    width: 125px;
    height: 125px;

}

.tip-message{
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    text-shadow: 1px -2px 3px white;
    text-decoration: underline;
}

.quick-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    
    
}

.image-container { /*for cookie*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.cookie-icon {
    width: 100px;
    height: 100px;
}

.recipe-meta {
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 2px 4px whitesmoke, inset 0 -2px 4px whitesmoke; /*inset creates shadow on inside*/
    height: 200px;
    overflow-y: scroll; /*lets text not overflow and, instead, allows user to scroll for more*/
    padding: 30px;
    line-height: 2; /*line spacing*/
}

.meta-item {
    margin: 2px;
    padding: 1px;
}

.recipe-description {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    line-height: 2;
    padding: 30px;
    text-align: center;
    height: 200px;
    overflow-y: scroll;
    line-height: 2;
    box-shadow: inset 0 2px 4px whitesmoke, inset 0 -2px 4px whitesmoke;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.window-image-section{ /*early 2000's Windows window for Frutiger Aero aesthetic*/
    background-image: url("Images/window-image.png"); /*SOURCE: https://ca.pinterest.com/pin/1144688430319051252/visual-search/?x=0.02&y=0.085&w=0.957&h=0.852&cropSource=9&entrypoint=closeup_image_cutout */
    background-position: center;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-left: 20px;
}

.ingredients-window{
    flex: none;
    width: 30%;
    height: 390px;
    box-shadow: inset 0 2px 4px whitesmoke;
}

.instructions-window {
    width: 30%;
    height: 390px;
}

.ingredients-section {
    height: 300px;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 2;
}

.ingredients-list li {
    margin: 2px;
    line-height: 1.5;
}

.instructions-section {
    height: 300px;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 2;
}

.instruction-step {
    margin: 3px;
}

.aesthetic-message{
    text-align: center;
}

.recipe-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 2; 
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6); /*used alpha to make the background color more transparent */
    color: black;
    text-align: right;
    font-size: 9px;
    border-radius: 10px;
}

* {
    margin: 2px;
    padding: 1px;
}



/*i added this because of this requirement:
    Include at least one responsive breakpoint that reorganizes your grid for mobile (under 48rem) */
@media (max-width: 48rem) {

    .recipe-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto; /*5 rows*/
    }

    .left-column {
        grid-column: 1;
        grid-row: 3;
    }

    .tip-container {
        grid-column: 1;
        grid-row: 2
    }

    .right-column {
        display: contents;  /*makes it so that all of the contents in right column become separated (they are treated like individual children of recipe-container) */
    }

    .main-content-container {
        flex-direction: column;
        grid-column: 1;
        grid-row:4;
        flex-direction: column;
        align-items:center;
    }

    .recipe-footer {
        display: flex;
        flex-direction: row;
        grid-column: 1;
        grid-row: 5;
    }
}